{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>There was an error with your form.</strong> Check below for details
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
{% endif %}


<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <div class="container">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <div id="usernameHelp" class="form-text">This is the one you picked at sign up.</div>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div id="passwordHelp" class="form-text">Never give out your password to strangers!</div>
                <input type="password" class="form-control" name="password" id="password">
            </div>

            <button type="Submit" class="btn btn-success">Log in</button>
        </form>
    </div>
</div>
{% endblock %}