{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<br> <br>


<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <div class="container">
        <h1>{{request.user.username}}</h1>
        <h5>Best Accomplishment: {{ best_accomplishment.course.name }} - {{ best_accomplishment.points }} points</h5>
        <hr>
        <br>
        <h2>Achievements</h2>
        <div class="row row-cols-4">
            {% for achievement in all_achievements %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{achievement.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                        <p class="card-text" id="rarity-{{achievement.name}}">{{ achievement.get_rarity_display}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{ achievement.point_value }} points</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>


</script>
{% endblock %}